.app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}


h2 {
  text-align: center;
  color: #f00202;
}

 input {
  width: 50%;
}

button {
  width: 100px;
  height:50px;
  background: #ffffff;
  color: #f00202;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
}

.room {
  position: relative;
}
.room button {
  position: absolute;
  top: 0;
  right: 20px;
}
.room > h3 {
  color: #f00202;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1em;
}

.local-participant {
  text-align: center;
  color: #f00202;
}
.remote-participants {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

video {
  width: 100%;
  height: 70vh;
}
